.LapTimeList__list {
  list-style: none;
  padding: 0px;
  margin: 15px auto;
  color: #d9d9d9;
  font-family: 'Roboto Mono', monospace;
  font-size: calc(15px + 1vw);
}

.LapTimeList__listwrap {
  max-width: 270px;
  margin: 0 auto;
}

.LapTimeList__headers {
  width: 100%;
  color: #d9d9d9;
  font-family: 'Roboto Mono', monospace;
  font-size: calc(15px + 2vw);
}

.LapTimeList__headers span {
  width: 50%;
  font-weight: bold;
  text-align: center;
  float: left;
}
