#exercises {
  flex: 0 1 100%;
  margin-bottom: 1rem;
  background-color: #d9d9d9;
  color: #3f51b5;
  height: 4vh;
  font-size: 2.75vh;
}

.workoutHeader {
  padding-top: 5%;
  font-size: calc(10px + 5vw);
  color: #3f51b5;
}

.workoutContainer {
  height: auto;
  margin-bottom: 3vh;
  width: 100vw;
  position: relative;
}

.content {
  text-align: left;
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: flex-start;
  align-content: left;
  flex-flow: column;
}

.section {
  text-align: inherit;
  color: #3f51b5;
  border-bottom: solid 1.5px #3f51b5;
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: wrap;
  width: 100%;
}

.sectionHeader {
  flex: 0 1 auto;
  padding-bottom: 1rem;
  font-size: calc(10px + 3vw);
}

.inputBox {
  flex: 1 0;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #d9d9d9;
  color: #3f51b5;
  height: 4vh;
  font-size: 2.75vh;
}

.workoutExercise {
  height: calc(10px + 3vw);
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: 80px;
  cursor: pointer;
  margin: 0px;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.submitWorkout {
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: calc(80px + 6vw);
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  flex: 1 0 calc(35px + 1vw);
  align-self: center;
}

.clearBtn {
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: calc(80px + 6vw);
  cursor: pointer;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  position: absolute;
  top: 5px;
  right: 5px;
  align-self: center;
  height: calc(35px + 1vw);
}

.setsField {
  color: #3f51b5;
  height: 4vh;
  flex: 0 1 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: wrap;
  margin-bottom: 5vh;
}

.subSetsField {
  flex: 0 1 50%;
  height: 4vh;
  font-size: 2.75vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.subSetsFieldText {
  height: 4vh;
  font-size: 2.75vh;
  width: 90%;
}

.inputBoxSetsField {
  background-color: #d9d9d9;
  color: #3f51b5;
  height: 4vh;
  font-size: 2.75vh;
  width: 90%;
}

.setsFieldContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-flow: wrap;
  margin: 0 0 15px 0;
}

.introBtn {
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: 80px;
  cursor: pointer;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: #3f51b5 solid 1px;
  padding: 0;
  font: inherit;
  outline: inherit;
  height: 10vw;
  flex: 0 1 100%;
  margin: 5%;
  font-size: calc(10px + 2vw);
}

.openingContainer {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-flow: wrap;
}
