#exercises {
  flex: 0 1 100%;
  margin-bottom: 1rem;
  background-color: #d9d9d9;
  color: #3f51b5;
}

.chartHeader {
  flex: 0 1 auto;
  margin-bottom: 1rem;
  font-size: calc(15px + 2vw);
  border-bottom: solid #3f51b5 2px;
  border-top: solid #3f51b5 2px;
}

.searchContainer {
  text-align: inherit;
  color: #3f51b5;
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: wrap;
}
