.chart {
  margin-top: 1rem;
}

.toggleCharts {
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: calc(80px + 6vw);
  cursor: pointer;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.statsContainer {
  /* 210 for graph height + 10px, 14px + 3vh for header, 1rem for chart wrapper */
  height: calc(210px + 1rem);
  width: calc(100vw - 10%);
}

.noStatsContainer {
  padding: 20px;
}

.statsHeader {
  font-size: calc(10px + 3vw);
  color: #3f51b5;
  border-bottom: solid #3f51b5 2px;
  border-top: solid #3f51b5 2px;
}

.noStats {
  font-size: calc(10px + 1vw);
  color: red;
}

.doStats {
  font-size: calc(10px + 1vw);
  color: #3f51b5;
}
