ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.nav {
  height: 7vh;
  list-style-type: none;
  vertical-align: middle;
  background: rgb(5, 244, 250);
  background: linear-gradient(
    90deg,
    #05f4fa 0%,
    rgba(6, 147, 244, 1) 50%,
    #05f4fa 100%
  );
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-content: center;
  white-space: nowrap;
}

.navList {
  font-size: 4.5vh;
  flex: 1 0 calc(5 * 35vw);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.navItem {
  flex: 1 0 auto;
  border-right: solid #fffdd0 2px;
  position: relative;
}

.navItem:last-child {
  border-right: none;
}

.link {
  text-decoration: none;
  color: #fffdd0;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 7vh;
  color: #3f51b5;
  opacity: 0.6;
  z-index: 1;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 7vh;
  color: #3f51b5;
  opacity: 0.6;
  display: none;
  z-index: 1;
}
