.break {
  flex-basis: 100%;
  height: 0;
  border: none;
}

.selectionHeader {
  font-size: calc(10px + 3vw);
  color: #3f51b5;
  position: absolute;
  top: 5%;
}

.selectionContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
}

.backBtn {
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: calc(80px + 6vw);
  cursor: pointer;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  position: absolute;
  top: 5px;
  right: 5px;
  align-self: center;
  height: calc(35px + 1vw);
}

.selectionContent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
  margin: 5% 5% 0 5%;
}

.selectionSectionHeader {
  flex: 0 1 0;
  padding-bottom: 1rem;
  color: #3f51b5;
}

.selectionInputBox {
  flex: 0 1 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: #d9d9d9;
  color: #3f51b5;
}

.submitExercise {
  height: calc(10px + 3vw);
  color: #3f51b5 !important;
  background-color: #d9d9d9 !important;
  width: 80px;
  cursor: pointer;
  margin: 0px;
  box-shadow: #3f51b5 0 0 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  flex: 0 1 80px;
  align-self: center;
}
